*{
    text-decoration: none;
}
body{
    margin: 0;
}
header img{
    width: 70px;
}
header{
    display: flex;
    background-color: #DAD7E2;
    color: #004AAD;
    justify-content: space-between;
}
header h1{
    font-family: "Chewy", system-ui;
}
header a{
    color: #004AAD;
}
nav a:hover{
    background-color: #DAD7E2;
    border-radius: 20px;
    padding: 10px;
}
main img{
    width:200px;
    border-radius: 100%;
    margin: 30px 0;
    
}
#sapaan{
    display:flex;
    background-color:#004AAD ;
    
    
}
#sapaan .sapa{
    flex-direction: column;
    margin-left: 50px;

}
header nav a{
    margin: 0 5px;
    
    
}
#sapaan h1{
    font-family: "Chewy", system-ui;
    font-size: 40px;
    color: #DAD7E2;
    border-color: 13px #DAD7E2;
    margin: 0;
}
#sapaan h3{
    color: #DAD7E2;
    margin: 0;
}
#sapaan h4{
    color: #DAD7E2;
    margin: 0;
    
}
#profile{
    background-color:#DAD7E2 ;
    padding-bottom: 20px;
    
}

#profile .biodata{
    margin: 30px;
    background-color:#004AAD 
    ;
    
}
#profile h1{
    margin: 0;
    color: #004AAD ;
    font-family: "Chewy", system-ui;
    text-align: center;

}
.biodata h3{
    margin: 2px;
    color: #DAD7E2;
    border: #000000 solid;
}
#aboutme{
    background-color:#DAD7E2;
    padding-bottom: 10px;
    font-family: "Quattrocento", serif;
    color: #DAD7E2;
}
#aboutme .tentangku{
    margin: 50px;
    background-color: #004AAD
    ;
    font-size: small;
    padding: 5px;
}
#aboutme h1{
    margin: 0;
    color: #004AAD;
    font-family: "Chewy", system-ui;
    text-align: center;

}
#kontak{
    background-color: #DAD7E2;
    display: flex;
    justify-content: space-evenly;
  
}
#kontak h1{
    font-family: "Quattrocento", serif;
    font-size: xx-large;
    font-family: "Chewy", system-ui;
    color:#004AAD ;
    text-align: center;

}
#kontak .kontakku a{
    color: #004AAD;
    margin: 0;
}
#kontak .kontakku .follow{
    color: #004AAD;
    border: #004AAD solid;
    font-family: "Rubik Bubbles", system-ui;
}
.konek{
    /* display: flex; */
    margin: 60px 0 0 0;
    
    
}
.konek h4{
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #000000;
}
.konek img{
    width: 15px;
    margin: 10px 0 0 0;
}